.cabecalho {
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
}

.cabecalho .logo {
    width: 60%; 
    max-width: 200px; 
}

@media screen and (min-width: 768px) {
    .cabecalho {
        flex-direction: row; 
        justify-content: space-between; 
    }

    .cabecalho .logo {
        width: 20%; 
    }
}
.container {
    flex-direction: column; 
    text-align: center; 
}

.container .informacoes, .container .rick {
    width: 100%; 
}

.container .imagem-titulo, .container .rick {
    max-width: 90%;
    height: auto; 
    margin: 0 auto; 
}

@media screen and (min-width: 768px) {
    .container {
        flex-direction: row; 
        justify-content: space-around; 
    }

    .container .informacoes, .container .rick {
        width: 50%; 
    }
}
